.primary-button:hover {
  background-color: #c66325 !important;

}


.secondary-button:hover {
    background-color: rgba(0,0,0,0.1) !important;
}


@media (max-width: 600px) {
  .primary-button{
    margin-top: .5rem;
  }

  .secondary-button{
    margin-top: .5rem;
  }
}