.hero {
  background-size: cover;
  background-position: center;

  height: 100vh;

  /* display: flex;
    justify-content: center;
    align-items: center; */
}

.hero-content {
  background-color: rgba(255, 255, 255, 0.9);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 42%;
  color: black;
  text-align: start;
  padding-left: 2em;
  padding-right: 1em;
}

.hero-content hr {
  width: 100%;
  border-width: 1px;
  opacity: 1;
}

/* Mobile First */
@media (max-width: 600px) {
  .hero {
    background-position: 70%;
    position: relative;
    height: 95vh;
  }

  .hero-content{
    width: 100%;
    height: 45%;
    position: absolute;
    bottom:0;
  }

  .hero-content div{
    display: flex;
    flex-wrap: wrap;
  }

  .hero div div {
    text-align: center;
  }
}

/* Tablet */
@media (min-width: 600px) and (max-width: 900px) {
}

/* Desktop */
