.header{
    justify-content: end;
    text-align: start;
    padding-bottom: 2em;
}

.header div a {

    border-radius: 2em;
    background-color: rgba(255,255,255,0);
    color:white;
    border: 2px solid #fff;
    color: #fff;
    padding: .5em 1em .5em 1em;
    font-weight: 600;
    text-decoration:none;
    width: 10rem;

    float: right;
    
    
}

.header div{
    align-content: center;
}

.header div a:hover {
    background-color: rgba(0,0,0,0.1) !important;
}


@media (max-width: 600px) {
    .header div a{
        float: none;
        

    }

    .header div {
        text-align: center;
    }

    .row .col-sm-8{
        text-align: center;
    }
}