._container {
  padding: 0 14em 0 14em;
  height: 100vh;
  margin-top: -100px;
  background-image: url("../../../assets/img/blob.svg");
  background-repeat: no-repeat;
  background-position-y: 80%;
  background-size: cover;
  
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Mobile First */
@media (max-width: 600px) {
    ._container{
        padding:1em;
        margin-top: 0;
        background-position: center;
    }
}

/* Tablet */
@media (min-width: 600px) and (max-width: 900px) {
}

/* Small Laptop */
@media (min-width: 900px) and (max-width: 1200px) {
}

/* Large Desktop */
@media (min-width: 1200px) {
}
