form {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
}

/* Mobile First */
@media (max-width: 600px) {
    form{
        display: flex;
        flex-direction: column;
    }
}

/* Tablet */
@media (min-width: 600px) and (max-width: 900px) {
}

/* Small Laptop */
@media (min-width: 900px) and (max-width: 1200px) {
}

/* Large Desktop */
@media (min-width: 1200px) {
}
