input, select, .button {
  background: #f8f8f5;
  border: 1px solid #eaeaea;
  border-radius: 8px;
}

input[type=text]{
  width: 100%;
}

button{
  height: fit-content;
}

button:hover{
  background-color: #f8f8f548;
}

.filter-buttons{
  float: left;
}

a{
  cursor: pointer;
}
/* Mobile First */
@media (max-width: 600px) {
  form {
    display: flex;
    flex-direction: column;
  }
}